.icon{
    line-height:20px;
    height:20px;
    width:20px;
    border-radius:50%;
    position:absolute;
    background-color:#33BF61;
    border:2px solid #33BF61;
    font-size:16px;
    color:#ffffff;
    text-align:center;
}

.product-img {
    max-height: 100%;         /* не больше контейнера по высоте */
    max-width: 100%;          /* не больше контейнера по ширине */
    object-fit: contain;      /* вписаться по пропорциям */
    background-color: #fff;   /* если у картинки прозрачность */
    border-top: 10px solid #fff;
}