<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="navy">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" th:text="#{shop.name}"></a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/clients}" th:text="#{clients.menu.name}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employees}" th:text="#{employees.menu.name}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/manufacturers}" th:text="#{manufacturers.menu.name}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/appliances}" th:text="#{appliances.menu.name}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}" th:text="#{order.menu.name}"></a>
                    </li>

                    <!-- Блок для неаутентифицированных пользователей -->
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <div class="d-flex">
                            <a class="btn btn-outline-light me-2" th:href="@{/login}" th:text="#{login.button}"></a>
                        </div>
                    </li>

                    <!-- Блок для аутентифицированных пользователей -->
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <div class="d-flex">
                            <a class="btn btn-outline-light" th:href="@{/logout}" th:text="#{logout.button}"></a>
                        </div>
                    </li>

                    <!--&lt;!&ndash; Блок кнопок для регистрации, входа и выхода &ndash;&gt;
                    <li class="nav-item">
                        <div class="d-flex">
                            <a class="btn btn-outline-light me-2" th:href="@{/login}" th:text="#{login.button}">Вход</a>
                            <a class="btn btn-outline-light" th:href="@{/logout}" th:text="#{logout.button}">Выход</a>-->
                    <!-- Выпадающий список для смены языка -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span th:text="#{lang.select}">Language</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- Ссылка для смены языка на английский -->
                            <li><a class="dropdown-item" th:href="@{/change-lang?lang=en}">English</a></li>
                            <!-- Ссылка для смены языка на французский -->
                            <li><a class="dropdown-item" th:href="@{/change-lang?lang=uk}">Ukraine</a></li>
                            <!-- Добавьте другие языки, если нужно -->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div th:fragment="line">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Appliance store</a>
        </div>
    </nav>
</div>
</body>
</html>